.modal{
    display: block !important;
}
.modal-dialog{
      overflow-y: initial !important
}
.modal-body {
  height: 250px;
  width: 100%;
  overflow-y: auto;
}

.card-title {
  font-weight: bolder;
  color: steelblue;
}