.card {
  background: #fff;
  color: black;
  border-radius: 20px;
  height: 360px;
  margin: 1rem;
  position: relative;
  width: 350px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 45%;
  overflow: hidden;
  text-align: center;
  background:#fff;
  border-radius: 20px;
}
.card > .img-container > img {
  width: 45%
}

.img-container {
  border-style: hidden;
}

.card > .content {
  /* padding-left: 1rem; */
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.sectionTitle{
  font-size: 28px;
}


.card >.details {
  
  position: absolute;
  top: 10px;
  right: 28px;
  padding-bottom: 4px;
  border-radius: 40px;
  width: 35px;
  height: 35px;
  font-weight: bolder;
  border-style: none;
}

.fa-cart-plus {
  font-size: 30px;
  color: #fff
}

.fa-heart {
  color: red;
  font-size: 40px
}

.fa-eye {
  border-style: none;
  font-size: 25px;
  color: black;

}

.card > .groceries {
  position: absolute;
  top: 370px;
  right: 45px;
  font-size:15px;
  padding-bottom: 4px;
  border-radius: 30px;
  width: 75px;
  height: 40px;
  font-weight: bolder;
  padding-top: 0px ;
  padding-left: 5px;
  background: green;
  /* border-style: none; */

}

.favorite {
  position: absolute;
  top: 370px;
  right: 200px;
}

#ingredients{
  overflow: scroll;
}

.fav1{
  position: absolute;
  top: 361px;
  right: 240px;
}

body {
  background-color: #66655f;
  color: white;
  padding: 30px;
  font-family: 'Happy Monkey', cursive;
  font-size: 22px;
  text-align: center;
 }
 a:hover {
     background: lightgray;
     text-decoration: underline;
 }
 h1 {
  font-size: 85px;
 }


 .recipecard{
  width: 350px;
  height: 430px;
}

.img-container{
height:220px;
}

@media only screen and (max-width: 1030px) {

  .recipecard{
    width: 270px;
    height: 430px;
    margin-right: 0;
    
  }
  ul{
    padding-left:10px
  }

  .fav1{
    position: absolute;
    top: 362px;
    right: 160px;
  }
 
}




 @media only screen and (max-width: 770px) {
 
  body{
    padding-right: 0;
    padding-left: 7px;
  }

  .recipecard{
    width: 320px;
    height: 430px;
    margin-right: 0;
    
  }

  .fav1{
    position: absolute;
    top: 362px;
    right: 200px;
  }
}

@media only screen and (max-width: 400px) {

  .recipecard{
    width: 270px;
    height: 430px;
    margin-right: 0;
    
  }
  .fav1{
    position: absolute;
    top: 365px;
    right: 165px;
  }

 
}
 

@media only screen and (max-width: 322px) {
 
  body{
    padding-right: 0;
    padding-left: 0;
  }

  .recipecard{
    width: 230px;
    height: 430px;
    margin-right: 0;
    
  }

  .fav1{
    position: absolute;
    top: 365px;
    right: 140px;
  }

  .fav2{
    position: absolute;
    top: 370px;
    left: 130px;
  }
}


.modal-text {
  color: black;
  text-align: center;
}

